<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_p3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_p3"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluePrints">
        <activity
            android:name="com.example.capstone.views.playActivity"
            android:screenOrientation="sensorLandscape">

        </activity>
        <activity
            android:name="com.example.capstone.views.connect_activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.capstone.views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>