<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.blueprints">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_p3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_p3"
        android:supportsRtl="true"
        android:theme="@style/Theme.BluePrints">
        <activity android:name=".playActivity" android:screenOrientation="sensorLandscape"></activity>
        <activity
            android:name=".connect_activity"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>